<div id="exaquest-similarity-comparison">

    <p>TODO: insert comparison</p>
    {{! Show the loading icon. }}
    <div class="p-5">
        {{> core/loading }}
    </div>


    {{#checkboxes}}
        {{> core/checkbox }}
    {{/checkboxes}}

    {{#buttons}}
        {{> core/single_button }}
    {{/buttons}}


    {{#similarityrecords.0}}
        {{#isHeader}}
            <table class="exaquest-similarity-comparison-table">
                <tr>
                    <th class="exaquest-similarity-comparison-table-header">{{col_qid1}}</th>
                    <th class="exaquest-similarity-comparison-table-header">{{col_qid2}}</th>
                    <th class="exaquest-similarity-comparison-table-header">{{col_issimilar}}</th>
                    <th class="exaquest-similarity-comparison-table-header">{{col_similarity}}</th>
                    <th class="exaquest-similarity-comparison-table-header">{{col_timestamp}}</th>
                    <th class="exaquest-similarity-comparison-table-header">{{col_threshold}}</th>
                    <th class="exaquest-similarity-comparison-table-header">{{col_algorithm}}</th>
                </tr>
                {{#similarityrecords}}
                    {{^isHeader}}
                        <tr>
                            <td class="exaquest-similarity-comparison-table-row">{{col_qid1}}</td>
                            <td class="exaquest-similarity-comparison-table-row">{{col_qid2}}</td>
                            <td class="exaquest-similarity-comparison-table-row">{{col_issimilar}}</td>
                            <td class="exaquest-similarity-comparison-table-row">{{col_similarity}}</td>
                            <td class="exaquest-similarity-comparison-table-row">{{{col_timestamp}}}</td>
                            <td class="exaquest-similarity-comparison-table-row">{{col_threshold}}</td>
                            <td class="exaquest-similarity-comparison-table-row">{{col_algorithm}}</td>
                        </tr>
                    {{/isHeader}}
                {{/similarityrecords}}
            </table>
        {{/isHeader}}
    {{/similarityrecords.0}}
</div>