{{!
* Exaquest similarity comparison extension
*
* @package    block_exaquest
* @copyright  2022 Stefan Swerk
* @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<div id="exaquest-similarity-comparison">

    {{#statistics}}
        {{! Print similarity statistics. }}
        <div id="exaquest-similarity-comparison-statistics">
            <ul class="all-versions" data-target="stats-{{ uniqid }}-{{ id }}">
                <li class="stat-totalqcount">
                    <b>{{#str}} exaquest:similarity_stat_total_count, block_exaquest {{/str}}: </b>
                    {{totalQCount}}
                </li>
                <li class="stat-totalsimilarq">
                    <b>{{#str}} exaquest:similarity_stat_total_similar_q, block_exaquest {{/str}}: </b>
                    {{totalSimilarQ}}
                </li>
                <li class="stat-totaldissimilarq">
                    <b>{{#str}} exaquest:similarity_stat_total_dissimilar_q, block_exaquest {{/str}}: </b>
                    {{totalDissimilarQ}}
                </li>
                <li class="stat-ratiosimilarq">
                    <b>{{#str}} exaquest:similarity_stat_ratio_similar, block_exaquest {{/str}}: </b>
                    {{ratioSimilarQ}}
                </li>
                <li class="stat-ratiodissimilarq">
                    <b>{{#str}} exaquest:similarity_stat_ratio_dissimilar, block_exaquest {{/str}}: </b>
                    {{ratioDissimilarQ}}
                </li>
            </ul>
            <ul class="latest-version" data-target="lateststats-{{ uniqid }}-{{ id }}">
                <li class="stat-totallatestqcount">
                    <b>{{#str}} exaquest:similarity_stat_total_latest_count, block_exaquest {{/str}}: </b>
                    {{totalLatestQCount}}
                </li>
                <li class="stat-totallatestsimilarq">
                    <b>{{#str}} exaquest:similarity_stat_total_latest_similar_q, block_exaquest {{/str}}: </b>
                    {{totalLatestSimilarQ}}
                </li>
                <li class="stat-totallatestdissimilarq">
                    <b>{{#str}} exaquest:similarity_stat_total_latest_dissimilar_q, block_exaquest {{/str}}: </b>
                    {{totalLatestDissimilarQ}}
                </li>
                <li class="stat-ratiolatestsimilarq">
                    <b>{{#str}} exaquest:similarity_stat_ratio_latest_similar, block_exaquest {{/str}}: </b>
                    {{ratioLatestSimilarQ}}
                </li>
                <li class="stat-ratiolatestdissimilarq">
                    <b>{{#str}} exaquest:similarity_stat_ratio_latest_dissimilar, block_exaquest {{/str}}: </b>
                    {{ratioLatestDissimilarQ}}
                </li>
            </ul>
        </div>
    {{/statistics}}


    {{#showLoading}}
        {{! Show the loading icon. }}
        <div class="p-5">
            {{> core/loading }}
        </div>
    {{/showLoading}}


    {{#checkboxes}}
        {{> core/checkbox }}
    {{/checkboxes}}

    {{#buttons}}
        {{> core/single_button }}
    {{/buttons}}

{{!<button data-action="mod_example/helloworld-update_button">Click me</button>}}


    {{#similarityrecords.0}}
        {{#isHeader}}
            <table class="exaquest-similarity-comparison-table table-responsive table table-striped table-hover"
                data-target="{{ uniqid }}-{{ id }}">
                <tr class="exaquest-similarity-comparison-table-header">
                    <th class="col-qid1">{{col_qid1}}</th>
                    <th class="col-qid2">{{col_qid2}}</th>
                    <th class="col-issimilar">{{col_issimilar}}</th>
                    <th class="col-similarity">{{col_similarity}}</th>
                    <th class="col-timestamp">{{col_timestamp}}</th>
                    <th class="col-threshold">{{col_threshold}}</th>
                    <th class="col-algorithm">{{col_algorithm}}</th>
                </tr>
                {{#similarityrecords}}
                    {{^isHeader}}
                        {{#hightlightClass}}
                            <tr class="{{hightlightClass}} exaquest-similarity-comparison-table-row">
                        {{/hightlightClass}}
                        {{^hightlightClass}}
                            <tr class="exaquest-similarity-comparison-table-row">
                        {{/hightlightClass}}
                                <td class="col-qid1">
                                    {{#edit_q1_button}}
                                        {{> core/single_button }}
                                    {{/edit_q1_button}}
                                    {{^edit_q1_button}}
                                        {{col_qid1}}
                                    {{/edit_q1_button}}
                                </td>
                                <td class="col-qid2">
                                    {{#edit_q2_button}}
                                        {{> core/single_button }}
                                    {{/edit_q2_button}}
                                    {{^edit_q2_button}}
                                        {{col_qid2}}
                                    {{/edit_q2_button}}
                                </td>
                                <td class="col-issimilar">{{col_issimilar}}</td>
                                <td class="col-similarity">{{col_similarity}}</td>
                                <td class="col-timestamp">{{{col_timestamp}}}</td>
                                <td class="col-threshold">{{col_threshold}}</td>
                                <td class="col-algorithm">{{col_algorithm}}</td>
                            </tr>
                    {{/isHeader}}
                {{/similarityrecords}}
            </table>
        {{/isHeader}}
    {{/similarityrecords.0}}
</div>