<div class="dashboardcard">
    <p>{{#str}}fachlich_review_questions_label, block_exaquest {{/str}}</p>
    {{#questions}}
        <a href={{editlink}}>{{name}}</a>
        {{#comma}}<br>{{/comma}}
    {{/questions}}
</div>