<!-- using bootstrap modals to do the popups https://getbootstrap.com/docs/4.6/components/modal/-->
<button class="btn btn-secondary" data-toggle="modal" data-target="#createQuestionModal">
    {{#str}}request_questions, block_exaquest {{/str}}
<!--    <i class="icon fa fa-plus fa-fw "></i>-->
</button>
<div class="modal fade" id="createQuestionModal" tabindex="-1"
     aria-labelledby="createQuestionModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{#str}}request_questions, block_exaquest {{/str}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{{action}}">
                <div class="modal-body">
                    <p>{{#str}}
                        request_questions_label, block_exaquest {{/str}}
                        <br>
                        <a class="selectallornone-userselection">select all/none</a>
                        {{#fragenersteller}}
                            <br>
                            <input type="checkbox" id={{id}} class="userselectioncheckbox"
                                   name="selectedusers[{{id}}]" value={{id}}>
                            <label for="selectedusers[{{id}}]">{{firstname}} {{lastname}}</label>
                        {{/fragenersteller}}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit"
                           value="{{#str}} request_questions_button, block_exaquest {{/str}}"
                           class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>